@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  width: 50px;
  height: 50px;
}

.banner-item {
  width: 100%;
}

.space-m {
  margin: 0.3vw;
}

.space-px {
  padding: 0.7vw;
}
